.main {
  
  width: 100vw; 
}

.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 2vw; 
  padding: 2vw; 
  background: -webkit-linear-gradient(182deg, #72ecbd,#d0cecf,#dc893a); 
}

.contactItem {
  padding: 2vw; 
  text-align: center;
  border: 0.1vw solid #ddd; 
  border-radius: 0.5vw; 
}

.contactItem h3 {
  margin-bottom: 1vw; 
}

.contactItem p {
  color: #666;
}

.taime {
  text-align: center;
  background: -webkit-linear-gradient(182deg, #72ecbd,#d0cecf,#dc893a); 
}

@media only screen and (max-width: 768px) {
  

  .contactInfo {
    grid-template-columns: 1fr; 
    gap: 1vw; 
    padding: 1vw; 
  }

  .contactItem {
    padding: 1vw; 
  }

  .taime {
    padding: 1vw; 
  }
}

  
  
  
  